.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    justify-items: center;
    text-decoration: none !important;
    list-style-type: none !important;
}

.card {
    width: 90%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;

}


